/* Import DM Sans */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: #111111;
  color: #ffffff;
  text-align: left;
  padding: 0;
}

header {
  background-color: #212121;
  color: #ffffff;
  padding: 1.5rem 3rem;
  width: 100%;
}

main {
  padding: 3rem;
}

.header-content {
  display: flex;
  align-items: right;
  gap: 10px; /* spacing between the image and text */
}

.logo {
  width: 32px;
  height: 32px;
}
