/* Import DM Sans */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: #111111;
  color: #ffffff;
  text-align: left;
  padding: 0;
}

header {
  background-color: #212121;
  color: #ffffff;
  padding: 1.5rem 3rem;
  width: 100%;
}

main {
  padding: 2rem;
}

.header-content {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.logos {
  width: 32px;
  height: 32px;
}


.intro {
  font-family: 'Roboto Mono', sans-serif;
  margin-top: 0px;
  color: #666666;
  padding: 1.5rem 3rem 3rem 3rem;
}

.below_header {
  display: flex;
  gap: 2rem;
  padding: 0;
  align-items: flex-start;
}

.below_header p {
  flex: 1;
}

.about {
  flex: 1.5;
  display: flex;
  flex-direction: column;
}

.specialties {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.specialties .info {
  font-family: 'DM Sans', sans-serif;
  margin-top: 0.5rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
  max-width: 400px;
  line-height: 1.6;
  list-style: none;
}

.specialties .info ul {
  padding-left: 1.5rem;
}

.about .info {
  font-family: 'DM Sans', sans-serif;
  margin-top: 0.5rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
  max-width: 400px;
  line-height: 1.6;
}
